@model User

<link rel="stylesheet" href="~/css/style.css" type="text/css">
<meta http-equiv="refresh" content="90;" />
<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <div class="ml-4 card bg-dark text-white viewonetable" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title mb-2">Welcome @Model.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Buying Power: $@Model.BuyingPwr.ToString("#,##0.#0")</h6>
                    @{
                        double totalprof = 0;
                        foreach(Wallet w in @Model.myWallets)
                        {
                            if (w.Profit != 0){
                                totalprof += w.Profit;
                            }
                        }
                        double result = (Math.Abs(totalprof));
                        if ( totalprof >= 0)
                        {
                            <p class="text-success text-sm font-weight-light">Actualized Return: +$@result.ToString("#,##0.#0")</p>
                            
                        } else {
                            <p class="text-danger text-sm font-weight-light">Actualized Return: -$@result.ToString("#,##0.#0")</p>
                        }
                    }
                    @* <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
                    @* <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> *@
                </div>
            </div>

            <div class="mt-3" style="max-height: 400px; overflow-y: scroll; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5); border-radius: 20px;">
                <table class="table text-center table-dark table-hover table-sm">
                    <thead>
                        <th class="text-center">My Cryptocurrencies</th>
                    </thead>
                    <tbody>
                        @{
                            foreach (var c in @ViewBag.AllCryptos2)
                                {
                                foreach(Wallet w in @Model.myWallets)
                                    {
                                    if (w.IsTracking == c.id.ToString())
                                        {
                                            double currprice = @c.current_price;
                                            double quant = @w.Quantity;
                                            double avgpr = @w.AvgBuyingPrice;
                                            double differenceval = currprice - avgpr;
                                            double avgval = quant * avgpr;
                                            double currval = (currprice * quant);
                                            double net = currval - avgval;
                                            double gainlossdec = (differenceval * quant) / avgval;
                                            double gainlossprct = gainlossdec * 100;
                                            <tr>
                                                <td class="" colspan="2">
                                                    <a class="d-flex btn btn-sm font-weight-bold text-white justify-content-around" style="width: 100%;" href="/crypto/@Model.UserId/@c.id">
                                                        <img src="@c.image" style="height: 40px;" alt="@c.id">
                                                        <label class="mt-2" style="width: 80px;"> @c.name </label>
                                                        <label class="mt-2" style="width: 110px;">$@currval.ToString("#,##0.#0")</label>
                                                        @{
                                                            if (net >= 0){
                                                                <label class="text-success">+$@net.ToString("#,##0.#0") <br>
                                                                (+@gainlossprct.ToString("#,##0.#0")%)</label>
                                                            } else {
                                                                <label class="text-danger">-$@Math.Abs(net).ToString("#,##0.#0") <br>
                                                                (@gainlossprct.ToString("#,##0.#0")%)</label>
                                                            }
                                                        }
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @* Right Column *@
        <div class="" style="width: 65%;">
            <partial name="Monthlys">
        </div>
    </div>
    <div style="min-height: 100px;"></div>
</div>